
<section class="container">
  <section class="container">
    <div class="row">
      <div class="col-sm-11">
        <h2 class="text-white jacquard-12-regular"><img src="campana-de-navidad.png" alt="" width="29px"  height="29px">FelizNavidad</h2>
      </div>
      <div class="col-sm-1"><!-- github -->
        <i class="nes-icon github is-medium"></i></div>
    </div>
  </section>
</section>

<section class="container">
  <h1 class="jacquard-12-regular text-center text-white" style="font-size: 130px;">{{nome}}</h1>
  <img src="campana-de-navidad.png" alt="{{defecto}}" class="img-fluid mx-auto d-block">
</section>
<!--secion2-->
<app-section2></app-section2> 
<!--video-->
<app-video></app-video>
<!--regalos-->
<app-regalos></app-regalos> <br>
<!--footer-->
<app-footer></app-footer>


