/* You can add global styles to this file, and also import other style files */
body{
    background-color: rgb(2, 2, 36);
}

.jacquard-12-regular {
    font-family: "Jacquard 12", system-ui;
    font-weight: 400;
    font-style: normal;
  }
  